
<%= render partial: 'header_tags' %>
<% html_title(t(:label_administration), t('webhooks.singular'), @webhook.name) -%>
<% local_assigns[:additional_breadcrumb] = [
  link_to(t('webhooks.plural'), admin_outgoing_webhooks_path),
  @webhook.name
  ]
%>

<%= toolbar title: "#{t('webhooks.singular')} - #{@webhook.name}" do %>
  <li class="toolbar-item">
    <%= link_to edit_admin_outgoing_webhook_path(@webhook),
          { class: 'button',
            aria: {label: t(:label_edit)},
            title: t(:label_edit)} do %>
      <%= op_icon('button--icon icon-edit') %>
      <span class="button--text"><%= t(:label_edit) %></span>
    <% end %>
  </li>
  <li class="toolbar-item">
    <%= link_to admin_outgoing_webhook_path(@webhook),
                class: 'button -danger',
                data: { method: 'delete', confirm: I18n.t(:text_are_you_sure) } do %>
      <%= op_icon('button--icon icon-delete') %>
      <span class="button--text"><%= t(:button_delete) %></span>
    <% end %>
  </li>
<% end %>


<h2><%= t 'webhooks.outgoing.deliveries.title' %></h2>

<%= cell ::Webhooks::Outgoing::Deliveries::TableCell, @webhook.deliveries.newest %>